body {
  background-color: #f2f2f2;
  color: #333333;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

h2 {
  margin: 0;
  font-size: 24px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

h3 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100px;
  height: auto;
}

li {
  margin-bottom: 10px;
}

a {
  color: #333333;
  text-decoration: none;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.contact {
  display: flex;
}

/* Media query for mobile view (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
  }
}

/* Media query for regular view (min-width: 601px) */
@media only screen and (min-width: 601px) {
  .contact {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

#btnBackgroundColor {
  padding: 10px;
  width: 200px;
  height: 100px;
  background-color: tan;
  border: none;
  cursor: pointer;
}